.vs/FakeStoreApi/DesignTimeBuild/.dtbcache.v2
.vs/FakeStoreApi/FileContentIndex/8d7c390f-f7e2-49f2-82be-2a8b9bf1067f.vsidx
.vs/FakeStoreApi/FileContentIndex/296a787c-dcb1-4b7f-ab77-5a30879ba1da.vsidx
.vs/FakeStoreApi/FileContentIndex/7248c913-71a3-4915-b808-889fd9022ab6.vsidx
.vs/FakeStoreApi/FileContentIndex/c6291b56-4df8-42d7-b1d6-3a772444aa33.vsidx
.vs/FakeStoreApi/FileContentIndex/e9f89520-4f19-4641-a07b-caf8d8b035c6.vsidx
.vs/FakeStoreApi/v17/.futdcache.v2
.vs/FakeStoreApi/v17/.suo
.vs/ProjectEvaluation/fakestoreapi.metadata.v7.bin
.vs/ProjectEvaluation/fakestoreapi.projects.v7.bin
FakeStoreApi/.vs/ProjectEvaluation/fakestoreapi.app.metadata.v7.bin
FakeStoreApi/.vs/ProjectEvaluation/fakestoreapi.app.projects.v7.bin

obj/
bin/
.vs/