@page "/"

 <h1 class="font-weight-bold text-purple">Video Promocional</h1>

<div class="embed-responsive embed-responsive-16by9">
    <video class="embed-responsive-item" controls>
        <source src="./media/promocional.mp4" type="video/mp4">
        Tu navegador no admite la reproducción de videos.
    </video>
</div>

<h1 class="font-weight-bold text-purple">Audio Relajante</h1>

  <!-- Elemento de audio -->
<audio class="w-100" controls>
    <source src="./media/musica-relajante.mp3" type="audio/mpeg">
    Tu navegador no admite la reproducción de audio.
  </audio>